<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Functional Test" parallel="tests"
	thread-count="3">
	<listeners>
		<listener
			class-name="reusableComponents.ListenersImplementation" />
		<listener
			class-name="reusableComponents.TestRetryAnalyzerListener" />
	</listeners>
	<test name="LoginTests">
		<classes>
			<class name="Tests.UserLoginTests" />
		</classes>
	</test>
	<test name="AccessEmandateTest">
		<classes>
			<class name="Tests.AccessEmandate" />
		</classes>
	</test> <!-- Test -->
	<test name="CreateNewMandateTest">
		<classes>
			<class name="Tests.CreateNewMandate" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
